body{
    background-color: #E9ECF8;
    font-family: 'Montserrat', sans-serif;
}

.container{
    position: relative;
    background-color: bisque;
    width: 100%;
    height: 100vh;
}

p{
    padding-top: 1%;
    margin-top: 20px;
    text-align: center;
}

.outputSection, .logoSection, .inputSection, .buttonSection{
    position: absolute;
}

.outputSection{
    width: 35%;
    height: 100%;
    top: 0;
    left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitePannel{
    background-color: white;
    height: 95%;
    width: 90%;
    border-radius: 32px;
    text-align: center;
}

.salida{
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 30%;
    visibility: hidden;
}

.imagenEspera{
    margin-top: 20%;
    display: flex;
    margin-top: 0%;
    justify-content: center;
}

.outputSection img{
    object-fit: cover;
    width: 80%;
}

.copiar{
    background-color: white;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    visibility: hidden;
}

.logoSection{
    display: flex;
    width: 65%;
    height: 15%;
    top: 0;
    left: 0;
    align-items: center;
}

.logoSection img{
    object-fit: cover;
    height: 80%;
}

.logoImg{
    padding: 0 0 0 20px;
}

.inputSection{
    display: flex;
    width: 65%;
    height: 70%;
    top: 15%;
    left: 0;
    justify-content: center;
    align-items: flex-start;
}

.textarea {
    color: #0A3871;
    font-weight: bold;
    margin-top: 25px;
    font-size: 24px;
    display: block;
    width: 60%;
    border: 0;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
  }

  .textarea[contenteditable]:empty::before {
    content: "Ingrese el texto aqui";
    color: #0A3871;
  }

  .textarea:focus{
    outline: none;
  }

.buttonSection{
    width: 65%;
    height: 20%;
    top: 80%;
    left: 0;
    display: inline;
    text-align: center;
}

.buttonSection p{
    font-size: 12px;
    opacity: 80%;
}

input[type="button"]{
    margin-top: 7px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
}

.encriptar{
    background-color: #0A3871;
    color: white;
    border: none;
}

.desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
}

/*funciones*/

.hide{
    display: none;
}

@media screen and (max-width:830px) {
    .logoSection{
        width: 100%;
    }

    .inputSection{
        width: 100%;
        height: 40%;
    }

    .buttonSection{
        height: 10%;
        width: 100%;
        top: 55%;
    }

    .outputSection{
        width: 100%;
        height: 23%;
        top: 80%;
        left: 0%;
    }

    .salida{
        margin-top: 10%;
    }

    .imagenEspera{
        display: none;
    }

    .primerTexto{
        margin-top: 0;
    }
}