body{
    background-color: #E9ECF8;
    font-family: 'Montserrat', sans-serif;
}

div{
    margin: 0px 3%;
}

p{
    padding-top: 1%;
    margin-top: 20px;
    text-align: center;
}

.outputSection{
    float: right;
    width: 25%;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitePannel{
    background-color: white;
    height: 95%;
    width: 90%;
    border-radius: 32px;
    text-align: center;
}

.salida{
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 30%;
    visibility: hidden;
}

.imagenEspera{
    margin-top: 20%;
    display: flex;
    margin-top: 20%;
    justify-content: center;
}

.outputSection img{
    object-fit: cover;
    width: 80%;
}

.copiar{
    background-color: white;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    visibility: hidden;
}

.logoSection{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 50px;
}

.inputSection{
    margin-bottom: 20px;
    width: 60%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.textarea {
    color: #0A3871;
    font-weight: bold;
    margin-top: 25px;
    font-size: 24px;
    display: block;
    width: 60%;
    border: 0;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
  }

  .textarea[contenteditable]:empty::before {
    content: "Ingrese el texto aqui";
    color: #0A3871;
  }

  .textarea:focus{
    outline: none;
  }

.buttonSection{
    width: 60%;
    height: 100px;
}

.buttonSection p{
    font-size: 12px;
    opacity: 80%;
}

input[type="button"]{
    margin-top: 7px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
}

.encriptar{
    margin-left: 33%;
    background-color: #0A3871;
    color: white;
    border: none;
}

.desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
}

/*funciones*/

.hide{
    display: none;
}